<!-- Search -->
<div class="search">
    <div class="form-group">
        <input type="search" id="serch" class="form-control" placeholder="Search..">
        <button class="sea-icon"><i class="icon-magnifying-glass"></i></button>
    </div>
</div>

<!-- Main Heading -->
<div class="clearfix"></div>

<!-- Main Heading -->
<div class="heading-side-bar">
    <h4>Category</h4>
</div>
<ul class="widget">
    <li><a href="blog-details.html#">Web Design</a> <a href="blog-details.html#"><span>(5)</span></a></li>
    <li><a href="blog-details.html#">Graphic Design</a> <a href="blog-details.html#"><span>(5)</span></a></li>
    <li><a href="blog-details.html#">Illustration</a> <a href="blog-details.html#"><span>(5)</span></a></li>
    <li><a href="blog-details.html#">Logo Design</a> <a href="blog-details.html#"><span>(5)</span></a></li>
    <li><a href="blog-details.html#">Wordpress Themes</a> <a href="blog-details.html#"><span>(5)</span></a></li>
</ul>
<div class="clearfix"></div>

<!-- Main Heading -->
<div class="heading-side-bar">
    <h4>Recent Posts</h4>
</div>
<ul class="widget">
    <li><a href="blog-details.html#">Duis ac velit ac purus feugiat ...</a></li>
    <li><a href="blog-details.html#">Duis rhoncus leo eget rhoncus ...</a></li>
    <li><a href="blog-details.html#">Nullam eu felis ut ex aliquet ...</a></li>
    <li><a href="blog-details.html#">Sed rutrum elit sed venenatis...</a></li>
    <li><a href="blog-details.html#">In mattis risus in rutrum auctor ...</a></li>
</ul>
<div class="clearfix"></div>

<!-- Main Heading -->
<div class="heading-side-bar">
    <h4>Archive</h4>
</div>
<ul class="widget">
    <li><a href="blog-details.html#">August 2016</a> <a href="blog-details.html#"><span>(35)</span></a></li>
    <li><a href="blog-details.html#">July 2016</a> <a href="blog-details.html#"><span>(25)</span></a></li>
    <li><a href="blog-details.html#">June 2016</a> <a href="blog-details.html#"><span>(54)</span></a></li>
    <li><a href="blog-details.html#">May 2016</a> <a href="blog-details.html#"><span>(05)</span></a></li>
    <li><a href="blog-details.html#">April 2014</a> <a href="blog-details.html#"><span>(15)</span></a></li>
</ul>
<div class="clearfix"></div>

<!-- Main Heading -->
<div class="heading-side-bar">
    <h4>WIDGET BLOCK</h4>
</div>
<div class="widget">
    <h5>Bleecker Street Guilds</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
</div>
<hr>
<div class="widget">
    <h5>Bleecker Street Guilds</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
</div>
<div class="clearfix"></div>

<!-- Main Heading -->
<div class="heading-side-bar">
    <h4>TAGS CLOUD</h4>
</div>
<ul class="tags">
    <li><a href="blog-details.html#.">FASHION</a></li>
    <li><a href="blog-details.html#.">CARS</a></li>
    <li><a href="blog-details.html#.">TABLET</a></li>
    <li><a href="blog-details.html#.">ELECTRONIC</a></li>
    <li><a href="blog-details.html#.">BEAUTY</a></li>
    <li><a href="blog-details.html#.">STYLE</a></li>
    <li><a href="blog-details.html#.">PERFUMES</a></li>
    <li><a href="blog-details.html#.">SPORTS</a></li>
    <li><a href="blog-details.html#.">GYM</a></li>
    <li><a href="blog-details.html#.">GIFT</a></li>
</ul>
