{% extends "base.twig" %}

{% block content %}
	<article>
		<header class="page-title-container">
			<div class="page-title custom-padding">
				<div class="container">
					<h1 class="title-center entry-title">{{ page.title }}</h1>
				</div>
			</div>
			<ul class="breadcrumbs">
				<li><a href="/">Home</a></li>
				<li class="active">{{ page.title }}</li>
			</ul>
		</header>


		<main >
			<section class="section-padding" >
				<div class="container">
					{{ page.content }}
				</div>
			</section>
		</main>
	</article>
{% endblock %}