<section id="about" class="section-padding">
    <div class="container">
        <div class="section-title"> <strong>ABOUT PINKUS CONSULTING</strong>
            <h1 class="heading bold">HOW WE MAKE MEANINGFUL CHANGE</h1>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% if page.has_about_video %}
                    <div class="youtube">
                        {{ page.about_video|youtube }}">
                    </div>
                {% else %}
                    <img class="frame" alt="image" src="{{TimberImage(page.get_field('about_image')).src}}" >
                {% endif %}
            </div>

            <div class="col-md-6 col-sm-12">
                {{ page.content }}
            </div>
        </div>
    </div>
</section>