<div class="parallex-small section-padding-70">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="parallex-text">
                    <h4>{{ page.spacer_1_heading }}</h4>
                    <p>{{ page.spacer_1_subheading }}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="parallex-button">
                    <a class="section-scroll page-scroll btn btn-lg btn-clean" target="_blank" href="{{options.amazon_buy_link}}">
                        BUY NOW
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>